
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #a6a5a5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.image-section {
    flex: 1;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.form-section {
    flex: 1;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
    text-align: center;
}
p {
    margin-bottom: 20px;
    font-size: 1 rem;
    color: #333;
    text-align: center;
}


label {
    display: block;
    margin: 10px 0 5px;
    font-size: 0.9rem;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.9rem;
}

.forgot-password {
    text-align: right;
    font-size: 0.8rem;
    margin-bottom: 20px;
}

.forgot-password a {
    text-decoration: none;
    color: #40668f;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.sign-in-btn {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    background-color: #555;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sign-in-btn:hover {
    background-color: #333;
}

.register-link {
    text-align: center;
    margin-top: 15px;
    font-size: 0.9rem;
    color: #555;
}

.register-link a {
    text-decoration: none;
    color: #40668f;
}

.register-link a:hover {
    text-decoration: underline;
}
